
header {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #CA282C; /* Vermelho */
}

nav {
    background-color: #CA282C; /* Vermelho */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #E89C1E; /* Vermelho */
}

.imagens{
    display: flex;
    justify-content: space-between;
}

.imagens img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #CA282C; /* Vermelho */
    color: white;
}
.uniao{
    display: flex;
    justify-content: center;
}
.uniao img{
    width: 200px;
}
.texto{
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto2{
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto3{
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto4{
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagemstalin{
    text-align: center;
    margin: auto;
}

.imagemlenin{
    text-align: center;
    margin: auto;
}

.imagembandeira{
    text-align: center;
    margin: auto;
    margin-inline-end: 20px;
}
.paragrafo1{
    text-align: center;
    margin: auto;
    margin-inline-end: 20px;
}
.paragrafo2{
    text-align: center;
    margin: auto;
    margin-inline-end: 20px;
}
.paragrafo3{
    text-align: center;
    margin: auto;
    margin-inline-end: 20px;
}
.paragrafo4{
    text-align: center;
    margin: auto;
    margin-inline-end: 20px;
}
.letras1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.letras2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.letras3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
.letras4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}
.minitexto1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}
.titulo1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.minititulo1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-display: 500px;
    display: flex;
    display: inline;
}
.titulo1{
    font-style: italic;
}